.CarrerCardContainer{
    width: 80%;
    height: auto;
    border-radius: 10px;
    background-color: #14142B;
    transition: all 0.5s;
    margin: 20px auto;
    padding: 10px;
}
.CarrerCardTittle{
    color: #fff;
    font-weight: 500;
    font-size: larger;
    margin: 5px 0;
}
.CarrerCardSubTittle{
    font-size: small;
    color: #84878B;
    margin: 5px 0;
}
.CarrerCardFoot{
    color: #7B4AE2;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin: 15px 5px 5px 5px;
}
@media (max-width: 500px) {
    .CarrerCardContainer{
        width: 100%;
        margin: 20px auto;
    }
}
@media (max-width: 500px) {
    .CarrerCardContainer{
        width: 100%;
        margin: 20px auto;
    }
}